@font-face {
  font-family: "RobotoMono-Regular";
  src: url("fonts/RobotoMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("fonts/OpenSans-Regular.ttf") format("truetype");
}

:root {
  --font-family-primary: "OpenSans-Regular", sans-serif;
  --font-family-secondary: "RobotoMono-Regular", monospace;
  --font-family-code: "RobotoMono-Regular", monospace;

  --color: #2e5266;
  --background-color: white;
  --secondary-color: #8b56db;

  --s-color: white;
  --s-background-color: black;
  /* s for static */

  --font-size: 1rem;
  --line-height: 150%;
}

::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: var(--background-color); /* Background color of the track */
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-color); /* Color of the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scroll thumb on hover */
}

::selection {
  background-color: var(--color);
  color: var(--background-color);
}

body {
  font-family: Arial, sans-serif;
  font-family: var(--font-family-primary);
  background-image: linear-gradient(135deg, #ffffff, #809DFF); /* Replace with your desired colors */
  background-repeat: no-repeat;
  background-size: cover;
}

a,
a:visited,
a:active {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
  color: white;
}

h1 {
  font-family: var(--font-family-code);
  font-weight: normal;
  font-size: 3rem;
  margin: 0;
}

.wrapper {
  display: grid;
  place-content: center;
  text-align: center;
  gap: 30px;

  width: 80%;
  max-width: 700px;
  margin: auto;

  margin-top: 100px;


  height: 500px;
  background-color: var(--background-color);

  border-radius: 15px;
}

#pages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

a {
  text-decoration: none;
  font-family: var(--font-family-code);
  color: white;
}

.link-div {
  width: 130px;
  height: 60px;

  display: grid;
  place-content: center;
  color: white;
}

.article-link {
  width: 100px;
  height: 50px;

  padding: 0;

  display: flex;
  align-items: center;
  place-content: center;

  background-color: var(--color);
  color: white;

  border-radius: 15px;
}

.article-link:hover {
  width: 105px;
  height: 55px;

  transition-property: width, height;
  transition-duration: 250ms;
  color: white;
}
